.CharacteristicSelection {
    display: inline-block;
}

.RollBox {
    float: left;
    padding-left: 10vw;
}

.CharacteristicsBox {
    border: 2px solid black;
    border-collapse:separate;
    border-spacing:0 5px;
    padding: 10px;
    float: left;
}

.CharacteristicsBoxTitle {
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-collapse:separate;
    border-spacing:5px 5px;
}